<p>L'utilisateur: <%= @user.nom %> , vient de créer un compte à: <%= @user.created_at %></p>
</br>
<%= link_to "Activation du compte", edit_account_activation_url(@account.verification_token, email: @user.email) %>
