<nav class="navbar navbar-default ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">UQÀM Tweeter</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Page principale</a></li>
        <li><a href="https://fr.wikipedia.org/wiki/Twitter">À propos</a></li>
        <li><a href="mailto:guillaume.remi@courrier.uqam.ca;adari.othmane@gmail.com">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Liens utiles <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://guillemette.org/uqam/inf4375/">Site du cours</a></li>
            <li><a href="http://www.uqam.ca/">UQÀM</a></li>
            <li><a href="http://info.uqam.ca/baccalaur%C3%A9at_en_informatique_et_g%C3%A9nie_logiciel/">Département d'informatique</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Références</li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
            <li><a href="http://openclassrooms.com/">OpenClassrooms</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

