.photo {
    padding-top: 80px;
    width: 100%;
    height: 580px;
}

.description{
    padding-top: 55px;
    font-family: 'PT Sans', sans-serif;
}

.description h3{
    color: #005ce6;
}
.description p{
    text-align: justify;
}
.bienvenue{
    font-family: 'PT Sans', sans-serif;
    color: #005ce6;
    padding-bottom: 10px;
    font-weight: bold;
}
.description strong{
    color: #005ce6;
    font-size: 18px;
}