<!-- Page Content -->
<section>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= link_to image_tag('slide3.jpg', :class => 'photo') %>
    </div>

    <div class="col-md-4 description">
      <h2 class="bienvenue">Bienvenue sur RoadQuest</h2>
      <h3>Qu'est-ce que RoadQuest?</h3>
      <p> <strong>RoadQuest</strong> est un logiciel qui vise à répertorier efficacement le patrimoine routier d'un département,
        d'une région, d'une province ou bien encore d'un pays. L'objectif étant de fournir un accès simple et
        rapide à toutes les informations techniques reliées aux routes pour permettre par la suite de les éditer et de les mettre à jour via des supports mobiles tel que : les tablettes tactiles,ordinateurs portables, téléphones intelligents, etc. Les points forts de ce logiciel résidents dans ses modules de cartographie et de production de rapport qui vont donner une vue d'ensemble des données ainsi que leurs données du sens vis­à­vis de problématiques. Par conséquent il permettra,
        la production de cartes interactives.
      </p>
      <h3>Fonctionnalités offertes</h3>
      <ul>
        <li>Produire un rapport</li>
        <li>Espace utilisateur</li>
        <li>Archive numériue</li>
        <li>Faire une recherche</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->
  <hr>
</div>
<!-- /.container -->
</section>
