<div class="footer">
  <div class="container center">
    <p class="muted credit"> Contactez-nous: <a href="mailto:guillaume.remi@courrier.uqam.ca"> Remi Guillaume </a>,
      <a href="mailto:sawadogo.abdoul_faical@courrier.uqam.ca"> Faïçal Sawadogo</a> et
      <a href="mailto:brien-lejeune.stephanie@courrier.uqam.ca">Stéphanie Brien Lejeune</a></p>
    <p class="muted credit"> &copy; 2016 GUILLAUME-SAWADOGO-BRIEN LEJEUNE</p>
  </div>
</div>