<footer class="footer">
  <div class="container center">
    <span class="muted credit"> <strong>Contactez-nous:</strong> <a href="mailto:guillaume.remi@courrier.uqam.ca"> Remi Guillaume </a>,
      <a href="mailto:sawadogo.abdoul_faical@courrier.uqam.ca"> Faïçal Sawadogo</a> &
      <a href="mailto:brien-lejeune.stephanie@courrier.uqam.ca">Stéphanie Brien Lejeune</a></span> <br>
    <p class="muted credit"> &copy;<strong> RoadQuest 2016</strong></p>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</footer>